# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# Logs
*.log
logs/

# Env sensibles
.env
.env.local
application-secrets.yml
src/main/resources/application-local.yml

# OS
.DS_Store
Thumbs.db
